@font-face {
	font-family: "Franklin Gothic";
	src: url("../Fonts/framd.ttf");
}

h1, h2, h3 {
    font-family: 'Franklin Gothic';
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-left: 1em;
}

li {
    font-family: 'Franklin Gothic';

    background-repeat: no-repeat;
    background-position: 0 50%;
    min-height: 30px;
    padding-left: 35px;
    border-bottom : 1px black solid;
}

li div {
    height: 25px;
    display: table-cell;
    vertical-align: middle;
    font-size: 150%;
}

li.red {
    background-image: url('../Images/red-stop.png');
}

li.orange {
    background-image: url('../Images/orange-stop.png');
}

li.yellow {
   background-image: url('../Images/yellow-stop.png');
}

li.green {
   background-image: url('../Images/green-stop.png');
}

li.blue {
   background-image: url('../Images/blue-stop.png');
}

li.purple {
   background-image: url('../Images/purple-stop.png');
}

li.grey {
   background-image: url('../Images/grey-stop.png');
}

li.white {
   background-image: url('../Images/white-stop.png');
}

li.red-large {
    background-image: url('../Images/red-stop-3.png');
}

li.orange-large {
    background-image: url('../Images/orange-stop-3.png');
}

li.yellow-large {
   background-image: url('../Images/yellow-stop-3.png');
}

li.green-large {
   background-image: url('../Images/green-stop-3.png');
}

li.blue-large {
   background-image: url('../Images/blue-stop-3.png');
}

li.purple-large {
   background-image: url('../Images/purple-stop-3.png');
}

li.grey-large {
   background-image: url('../Images/grey-stop-5.png');
}

li.white-large {
   background-image: url('../Images/white-stop-3.png');
}

.start {
    font-family: 'Franklin Gothic';
    border-top-style: solid;
    border-bottom-style: solid;
}

.card {
	width: 13.00cm;
	height: 20.00cm;
	border-style: solid;
	border-width: 0.25em;
	padding: 0.25em;
	float: left;
}

.newpage {
	display:block; 
	page-break-before:always;
}