@font-face {
	font-family: "Franklin Gothic";
	src: url("../Fonts/framd.ttf");
}

.card {
	width: 6.25cm;
	height: 9.75cm;
	border-style: solid;
	border-width: 0.25em;
	padding: 0.25em;
	float:left;
}

.newpage {
	display:block; 
	page-break-before:always;
}

.title {
    display: inline-block;
    font-family: 'Franklin Gothic';
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 5cm;
    margin-bottom: 3px;
}

.cost {
    display: inline-block;
    font-family: 'Franklin Gothic';
    font-size: 200%;
    float: right;
    border-style: solid;
    width: 1cm;
    height: 1cm;
    text-align: center;
    margin: 0;
    padding: 0;
}

.type {
	font-family: 'Franklin Gothic';
	border-top-style: solid;
	border-bottom-style: solid;
}

.effect {
    font-family: 'Franklin Gothic';
    margin-top: 0.5em;
}

.special {
    font-family: 'Franklin Gothic';
    font-style: italic;
}